  <h3>Not completed</h3>
         <ul>
         <% if @goal.empty? %>
          <b>
            <span>You dont have any goals, start to reach them today!</span>
          </b>
         <% else @goals %>
          <%= render 'sort' %> 
          <% @goal.each do |goal| %>
            <%= render partial: 'goal', object: goal %> 
          <% end %>
         <% end %>

      </ul>
      <%= link_to 'Create new goal', new_goal_path,  class: 'btn btn-primary' %>
      <h3>Completed</h3>
      <ul>
        <% if @goal_completed.empty? %>
          <b>
            <span> You dont have any completed goals!</span>
          </b>
         <% else @goal_completed %>
         <%= render 'sort' %> 
          <% @goal_completed.each do |goal| %>
            <%= render partial: 'goal', object: goal %> 
          <% end %>
         <% end %>
      </ul>